*{
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
    cursor: pointer;
}

.container{
    background-color: White;
    padding: 20px 30px;
    border-radius: 10px;
    width: 1500px;
    height: 750px;
    margin: 0px auto;
}

.bi-list{
    border-radius:10px;
    padding: 8px;
    background-color:#f1f1f1;
    font-size: 23px;
    color: grey;
}

.fa-folder-open{
    border-radius:10px;
    padding: 8px;
    background-color:#f1f1f1;
    color: grey;
}

.bi-cloud-fill{
    border-radius:10px;
    padding: 9px;
    background-color:#f1f1f1;
    color: grey;
    font-size: 22px;
    margin-bottom: 15px;
}

.bi-archive-fill{
    border-radius:10px;
    padding: 10px;
    background-color:#f1f1f1;
    color: grey;
    font-size: 22px;
}

.bi-bell-fill{
    border-radius:10px;
    padding: 10px;
    color: white;
    background-color:#ff6b5a;
    font-size: 21px;
}

.bi-person-fill{
    border-radius:10px;
    padding: 10px;
    background-color:#f1f1f1;
    color: grey;
    font-size: 22px;
}

.left{
    float: left;
    width: 72%;
    display: block;
}

.leftcard{
    padding: 20px;
   margin-top: -720px;
   border-radius:10px;
   height:725px;
   margin-left:60px;
   background-color:#163b94;
}

.bi-search{
    margin-left:30px;
    color: #d8d8d8;
    font-size: 20px;
}

input[type=text] {
    width: 90%;
    outline: none;
    border-radius: 4px;
    font-size: 24px;
    color:white;
    background-color: #163b94;
    padding: 20px 10px;

    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
  }

input::placeholder{
    color: #d8d8d8;
    background-color: #163b94;
  }

h2{
      display: inline;
      font-size: 32px;
  }

.weather{
      margin-left: 30px;
      color: rgb(243, 242, 242);
      margin-right: 10px;
  }

.forecast{
      color: rgb(235, 228, 228);
  }

.bi-gear{
    margin-left:570px;
    color: #d8d8d8;
    font-size: 20px;
  }

.img1,.img2{
    width: 420px;
    height: 250px;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 20px;
    margin-right: 30px;
}
.img3,.img5{
    width: 150px;
    height: 160px;
    top: -90px;
    position: relative;
    border-radius: 20px;
    margin-right: 30px;
}

.img4,.img6{
    width: 150px;
    height: 160px;
    top: -90px;
    position: relative;
    border-radius: 20px;
}

.right{
    float: left;
    width: 28%;
    display: block;
}

.rightcard{
    padding: 30px;
   margin-top: -720px;
   border-radius:10px;
   height:725px;
   margin-left:20px;
   background-color:#1d8de6;
}

.sun{
    width: 65px;
    height: 65px;
    border-radius: 10px;
    padding: 17px;
    background-color: #3a9ff0;
    font-size: 23px;
    color: white;
    margin-top: 30px;
}

h3{
    color: rgb(205 250 246);
    padding: 0;
}
h6{
    margin: 0;
    padding: 3px 0;
    color: rgb(156 196 255);
}
h5{
    color: rgb(205 250 246)
}

.bi-wind{
    background-color: #3a9ff0;
    font-size: 25px;
    color: white;
    border-radius: 9px;
    padding: 12px;
}

.bi-droplet-fill{
    background-color: #3a9ff0;
    font-size: 25px;
    color: white;
    border-radius: 9px;
    padding: 12px;
    margin-left: 15px;
}

.bi-thermometer-half{
    background-color: #3a9ff0;
    font-size: 25px;
    color: white;
    border-radius: 9px;
    padding: 12px;
    margin-left: 15px;
}

.bi-plus-square-dotted{
    font-size: 47px;
    color: #e4e4e4;
    display: block;
    margin-left: 2px;
    margin-top: 30px;
}

.bi-cloud-haze-fill{
    background-color: #3a9ff0;
    font-size: 21px;
    color: white;
    border-radius: 9px;
    padding: 15px;
}

h4{
    display: inline;
    position: relative;
    top: -10px;
    margin-left: 16px;
    color: #e4e4e4;
}
.degreeCelcius{
    display: inline;
    position: relative;
    left: -43px;
    top: 8px;
}
.bi-umbrella-fill{
    background-color: #3a9ff0;
    font-size: 21px;
    color: white;
    border-radius: 9px;
    padding: 15px;
    margin-left: 15px;
}